Please enter your desired username and password:

<form action="/users/create" method="post">
  
    <label for="username">Username:</label>

    <div>
    <input name="username" id="username">
    </div>

    <label for="password">Password:</label>

    <div>
    <input name="password" id="password">
    </div>

    <button type="submit">Create Your Account</button>
</form>