<form action="/create" method="post">
  
      <label for="file_name">Add a new document:</label>

      <div>
      <input name="file_name" id="file_name">
      </div>
  
      <button type="submit">Create</button>
</form>

<% content_for :main_index_link do %>
  <a href="/">Return to File List</a>
<% end %>