<form action="/users/signin" method="post">
  
    <label for="username">Username:</label>

    <div>
    <input name="username" id="username">
    </div>

    <label for="password">Password:</label>

    <div>
    <input name="password" id="password">
    </div>

    <button type="submit">Sign In</button>
</form>