body {
  padding: 1em;
  font-family: sans-serif;
}

ul.files {
  list-style-image: url('../file-25.gif');
}

ul.images {
  list-style-image: url('../image-25.gif');
}

button.edit {
  background: #EAFCFF;
  border-radius: 8px;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
}

button.delete {
  background: #FF8484;
  border-radius: 8px;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
}

button.duplicate {
  background: #A7F9B3;
  border-radius: 8px;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
}

.file {
  padding: 10px;
  margin-bottom: 2px;
  background: #AFF5FF;
}

.image {
  padding: 10px;
  margin-bottom: 2px;
  background: #A7F9B3;
}

.message {
  padding: 10px;
  background: #FFFF99;
}

form.inline {
  display: inline;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}

.note {
  font-style: italic;
  font-size: 0.9em;
}